<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 부트스트랩 라이브러리 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- jquery cdn -->
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script>

	</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:inline="javascript" th:src="@{/js/infoCheck.js}"></script>
    <script th:inline="javascript" th:src="@{/js/inFoCheckInnerHtml.js}"></script>

    <title>회원가입</title>
</head>
<body>
<!-- 회원가입 폼 -->
<div class="container-md shadow p-3 mb-5 mt-5 w-50 bg-body rounded">
    <!-- action속성 : form에 작성한 데이터를 어디로 보낼지 -->
    <form id="SignUpForm" onsubmit="SignUpFormSumitCheck(event)" action="/member/save" method="post" >
        <h3 class="center text-center">회원가입</h3>
        <span id="warningMsg"></span>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <div class="row">
                <div class="col-10">
                    <input type="email" class="form-control" name="userEmail" id="userEmail" onblur="emailDuplicateCheck()" placeholder="이메일을 입력해주세요">
                </div>
                <div class="col-2">
                    <input class="btn btn-outline-primary"  name="checkEmailNumber" id="checkEmailNumber"  type="button" value="인증번호" onclick="#">
                </div>
            </div>
            <span id="checkEmail">
                 <!-- 사용가능 이메일 확인여부 출력 하기 (미진행) -->
            </span>
        </div>
        <div class="mb-3">
            <label class="form-label">인증번호</label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" name="#" id="#" placeholder="인증번호를 입력해주세요" >
                </div>
                <div class="col-2">
                    <input class="btn btn-outline-primary"  name="certificationNumber" id="certificationNumber"  type="button" value="확인하기" onclick="#">
                </div>
            </div>
            <div class="col-auto">
                <!--<span id="#" class="#">
                     일치 / 불일치 결과 출력 (미진행)
                </span>-->
            </div>
        <div class="mb-3">
            <label class="form-label" for="userPw">Password</label>
            <input type="password" class="form-control" name="userPw" id="userPw" placeholder="비밀번호를 입력해주세요" aria-describedby="passwordHelpInline">
            <span id="password-strength"></span>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" onblur="chackPassword()" placeholder="비밀번호 확인">
            <span id="confirmMsg"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">User name</label>
            <!-- name속성: 서버로 전송할 때 변수 이름의 역할 -->
            <input type="text" class="form-control" name="userName" id="userName" placeholder="이름을 입력해주세요">
        </div>
        <label class="mb-3 form-label" for="birth">생년월일</label>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3" id="birth" >
                        <div class="birth dropdown">
                            <select class="form-select form-select-sm" id="userBirthYear" name="userBirthYear" aria-label="Default select example">
                                <option value="">출생년도</option>
                                <th:block th:each="a: ${#numbers.sequence(2023,1900)}">
                                    <option th:value="${a}" th:text="${a}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="birth mx-1 dropdown">
                        <select class="form-select form-select-sm" id="userBirthMonth" name="userBirthMonth" aria-label="Default select example">
                            <option value="">월</option>
                            <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                                <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="birth dropdown">
                        <select class="form-select form-select-sm" id="userBirthDay" name="userBirthDay" aria-label="Default select example">
                            <option value="">일</option>
                            <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">
                                <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                            </th:block>
                        </select>
                    </div>
                    <span id="birth_check_msg"></span>
                </div>
            </div>
        </div>
        <div class="center text-center">
            <input class="btn btn-primary" type="submit" value="가입하기" >
        </div>
    </form>
</div>
<!-- /회원가입  -->
</body>
</html>